header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    margin-top: 39px;
    color: $main-color-primary;

    h1 {
        font-family: Oswald;
        font-size: 19px; 
        font-weight: 400;
        letter-spacing: 0.95px;
    }
    
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $font-size-h6;
        font-weight: $font-bold;
        letter-spacing: $font-letter-spacing-h6;

        a {
            margin-right: 39px;
            color: $main-color-primary;
            text-decoration: none;

            i {
                vertical-align: bottom;
                margin-left: 8px;
            }
        }

        #donate {
            color: $main-color-accent;

            i {margin-right: 6px;}
        }

        button {
            border: none;
            background: none;
        }
    }
}
