// FONTS
$font-source:'Source Serif 4', serif;

$font-semi-bold: 400;
$font-bold: 600;

$font-size-h1: 26px;
$font-size-h2: 21px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-h5: 14px;
$font-size-h6: 12px;

$font-line-height-h1: 32px;
$font-line-height-h2: 25px;
$font-line-height-h3: 25px;
$font-line-height-h4: 25px;
$font-line-height-h5: 25px;

$font-paragraph-spacing-h3: 10px;
$font-paragraph-spacing-h4: 10px;

$font-letter-spacing-h6: 0.16em;

// COLORS LIGHT THEME
$main-color-primary: #222222;
$main-color-accent: #7247CA;
$main-color-hover: #58379B;

$natural-color-dark-gray: #555555;
$natural-color-gray: #979797;
$natural-color-light-gray-01: #F5F5F7;
$natural-color-light-gray-02: #EAEAEE;

$service-color-error: #FF3636;
